In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [48]:

df = pd.read_csv('./daily_fitbit_sema_df_unprocessed.csv')

# Display the first five rows of the dataset
df.head()

,Unnamed: 0,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,...,TENSE/ANXIOUS,TIRED,ENTERTAINMENT,GYM,HOME,HOME_OFFICE,OTHER,OUTDOORS,TRANSIT,WORK/SCHOOL
0,0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,621e2e8e67b776a24055b564,2021-05-25,33.794544,57.681,94.303,NaN,15.8,80.0,0.833333,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,2,621e2e8e67b776a24055b564,2021-05-26,34.611011,57.481,119.212,NaN,14.6,84.0,0.966667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,621e2e8e67b776a24055b564,2021-05-27,34.408304,57.493,111.709,NaN,14.8,82.0,0.933333,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,4,621e2e8e67b776a24055b564,2021-05-28,34.178922,56.750,103.034,NaN,15.2,81.0,0.866667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [49]:
df.shape

(7410, 63)

In [50]:
missing_values = df.isna().sum()
missing_values

Unnamed: 0                0
id                        0
date                      0
nightly_temperature    4051
nremhr                 4935
                       ...
HOME_OFFICE            5120
OTHER                  5120
OUTDOORS               5120
TRANSIT                5120
WORK/SCHOOL            5120
Length: 63, dtype: int64

In [51]:
cols_to_drop = missing_values[missing_values > 1000].index
df1 = df.drop(cols_to_drop, axis=1)

In [52]:
df1.isna().sum()

Unnamed: 0                     0
id                             0
date                           0
calories                     750
lightly_active_minutes       327
moderately_active_minutes    327
very_active_minutes          327
sedentary_minutes            327
mindfulness_session          299
age                          614
gender                       370
bmi                          614
dtype: int64

In [53]:
df1.shape

(7410, 12)

In [54]:
df1.dropna(how='all', inplace=True)

In [55]:
df1.shape

(7410, 12)

In [56]:
num_cols = df1.select_dtypes(include=np.number).columns
cat_cols = df1.select_dtypes(include=object).columns

In [57]:
from sklearn import preprocessing
from sklearn.impute import KNNImputer, SimpleImputer
import copy

In [58]:
df2 = copy.deepcopy(df1)

In [59]:
df2

,Unnamed: 0,id,date,calories,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes,mindfulness_session,age,gender,bmi
0,0,621e2e8e67b776a24055b564,2021-05-24,2351.59,149.0,24.0,33.0,713.0,False,<30,MALE,<19
1,1,621e2e8e67b776a24055b564,2021-05-25,2332.08,132.0,25.0,31.0,704.0,False,<30,MALE,<19
2,2,621e2e8e67b776a24055b564,2021-05-26,2262.30,112.0,27.0,31.0,710.0,False,<30,MALE,<19
3,3,621e2e8e67b776a24055b564,2021-05-27,2325.10,133.0,21.0,37.0,622.0,False,<30,MALE,<19
4,4,621e2e8e67b776a24055b564,2021-05-28,2586.76,136.0,42.0,54.0,647.0,False,<30,MALE,<19
...,...,...,...,...,...,...,...,...,...,...,...,...
7405,7405,621e362467b776a2404ad513,2021-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7406,7406,621e36f967b776a240e5e7c9,2021-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7407,7407,621e362467b776a2404ad513,2021-05-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7408,7408,621e339967b776a240e502de,2021-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7409,7409,621e339967b776a240e502de,2021-11-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:

imputer = KNNImputer()
df2[num_cols] = pd.DataFrame(imputer.fit_transform(copy.deepcopy(df1[num_cols])), columns=num_cols)

In [61]:
df2

,Unnamed: 0,id,date,calories,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes,mindfulness_session,age,gender,bmi
0,0.0,621e2e8e67b776a24055b564,2021-05-24,2351.59,149.0,24.0,33.0,713.0,False,<30,MALE,<19
1,1.0,621e2e8e67b776a24055b564,2021-05-25,2332.08,132.0,25.0,31.0,704.0,False,<30,MALE,<19
2,2.0,621e2e8e67b776a24055b564,2021-05-26,2262.30,112.0,27.0,31.0,710.0,False,<30,MALE,<19
3,3.0,621e2e8e67b776a24055b564,2021-05-27,2325.10,133.0,21.0,37.0,622.0,False,<30,MALE,<19
4,4.0,621e2e8e67b776a24055b564,2021-05-28,2586.76,136.0,42.0,54.0,647.0,False,<30,MALE,<19
...,...,...,...,...,...,...,...,...,...,...,...,...
7405,7405.0,621e362467b776a2404ad513,2021-05-18,1163.88,0.0,0.0,0.0,1293.2,NaN,NaN,NaN,NaN
7406,7406.0,621e36f967b776a240e5e7c9,2021-05-20,1163.88,0.0,0.0,0.0,1293.2,NaN,NaN,NaN,NaN
7407,7407.0,621e362467b776a2404ad513,2021-05-23,1163.88,0.0,0.0,0.0,1293.2,NaN,NaN,NaN,NaN
7408,7408.0,621e339967b776a240e502de,2021-11-19,1163.88,0.0,0.0,0.0,1293.2,NaN,NaN,NaN,NaN
7409,7409.0,621e339967b776a240e502de,2021-11-20,1163.88,0.0,0.0,0.0,1293.2,NaN,NaN,NaN,NaN

In [62]:
imputer = SimpleImputer(strategy='most_frequent')
df2[cat_cols] = pd.DataFrame(imputer.fit_transform(
                copy.deepcopy(df1[cat_cols])), columns=cat_cols)

In [65]:
df2

,Unnamed: 0,id,date,calories,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes,mindfulness_session,age,gender,bmi
0,0.0,621e2e8e67b776a24055b564,2021-05-24,2351.59,149.0,24.0,33.0,713.0,False,<30,MALE,<19
1,1.0,621e2e8e67b776a24055b564,2021-05-25,2332.08,132.0,25.0,31.0,704.0,False,<30,MALE,<19
2,2.0,621e2e8e67b776a24055b564,2021-05-26,2262.30,112.0,27.0,31.0,710.0,False,<30,MALE,<19
3,3.0,621e2e8e67b776a24055b564,2021-05-27,2325.10,133.0,21.0,37.0,622.0,False,<30,MALE,<19
4,4.0,621e2e8e67b776a24055b564,2021-05-28,2586.76,136.0,42.0,54.0,647.0,False,<30,MALE,<19
...,...,...,...,...,...,...,...,...,...,...,...,...
7405,7405.0,621e362467b776a2404ad513,2021-05-18,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7406,7406.0,621e36f967b776a240e5e7c9,2021-05-20,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7407,7407.0,621e362467b776a2404ad513,2021-05-23,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7408,7408.0,621e339967b776a240e502de,2021-11-19,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7409,7409.0,621e339967b776a240e502de,2021-11-20,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0

In [66]:
df2.drop(columns='Unnamed: 0', inplace = True)

In [67]:
df2

,id,date,calories,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes,mindfulness_session,age,gender,bmi
0,621e2e8e67b776a24055b564,2021-05-24,2351.59,149.0,24.0,33.0,713.0,False,<30,MALE,<19
1,621e2e8e67b776a24055b564,2021-05-25,2332.08,132.0,25.0,31.0,704.0,False,<30,MALE,<19
2,621e2e8e67b776a24055b564,2021-05-26,2262.30,112.0,27.0,31.0,710.0,False,<30,MALE,<19
3,621e2e8e67b776a24055b564,2021-05-27,2325.10,133.0,21.0,37.0,622.0,False,<30,MALE,<19
4,621e2e8e67b776a24055b564,2021-05-28,2586.76,136.0,42.0,54.0,647.0,False,<30,MALE,<19
...,...,...,...,...,...,...,...,...,...,...,...
7405,621e362467b776a2404ad513,2021-05-18,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7406,621e36f967b776a240e5e7c9,2021-05-20,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7407,621e362467b776a2404ad513,2021-05-23,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7408,621e339967b776a240e502de,2021-11-19,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0
7409,621e339967b776a240e502de,2021-11-20,1163.88,0.0,0.0,0.0,1293.2,False,<30,MALE,24.0

In [68]:
df2.isna().sum()

id                           0
date                         0
calories                     0
lightly_active_minutes       0
moderately_active_minutes    0
very_active_minutes          0
sedentary_minutes            0
mindfulness_session          0
age                          0
gender                       0
bmi                          0
dtype: int64

In [69]:
df2.bmi.unique()

array(['<19', '23.0', '28.0', '21.0', '22.0', '24.0', '20.0', '>=25',
       '29.0', '19.0', '>=30', '25.0', '27.0', '26.0'], dtype=object)

In [73]:
df2.bmi = df2.bmi.replace(['<19','>=30','>=25'],['18.0','30.0','26.0'])

In [75]:
ordinal_bmi = dict(zip([str(x) for x in sorted([float(x) for x in df2.bmi.unique()])], [x for x in range(1,14)]))

In [77]:
df3 = copy.deepcopy(df2)

In [78]:
df3.bmi = df3.bmi.map(ordinal_bmi)

In [82]:
df3.mindfulness_session = df3.mindfulness_session.map({False : 0, True : 1})

In [89]:
df3.age.unique()

array(['<30', '>=30'], dtype=object)

In [90]:
df3.age = df3.age.map({'<30' : 1, '>=30' : 2})

In [92]:
from sklearn.preprocessing import LabelEncoder

# create an instance of LabelEncoder
encoder = LabelEncoder()

# fit and transform the gender column
df3['gender'] = encoder.fit_transform(df3['gender'])

In [99]:
df3.drop(columns='id',inplace=True)

In [103]:
df3.date = pd.to_datetime(df3.date)

In [108]:
df3['year'] = df3['date'].dt.year
df3['month'] = df3['date'].dt.month
df3['day'] = df3['date'].dt.day

In [110]:
df3.drop(columns='date',inplace = True)

Anomaly detection method 1 : Using pdfs, we can use a threshold value to identify the observations with low probabilities

In [152]:
import numpy as np
from scipy.stats import norm


# Compute the mean and standard deviation of each feature
means = np.mean(df3, axis=0)
stds = np.std(df3, axis=0)

# Compute the probability density function of each observation
pdfs = np.prod(norm.pdf((df3 - means) / stds), axis=1)

# Identify the observations with low probabilities as anomalies
anomalies = df3[pdfs < 0.0000000001]

# Print the number of anomalies and the indices of the anomalous observations
# print(f'Number of anomalies {anomalies}')

In [153]:
anomalies.shape

(461, 12)

Anomaly Detection method 2 : K-means which partitions the data into K clusters based on their similarity.

In [157]:
import numpy as np
from sklearn.cluster import KMeans


# Fit a K-means clustering model to the data
kmeans = KMeans(n_clusters=2)
kmeans.fit(df3)

# Assign each observation to a cluster
labels = kmeans.labels_

# Print the number of observations in each cluster
print(f'Number of observations in cluster 0: {np.sum(labels == 0)}')
print(f'Number of observations in cluster 1: {np.sum(labels == 1)}')

Number of observations in cluster 0: 2730
Number of observations in cluster 1: 4680

Anomaly Detection method 3 : GMM 
 Gaussian mixture model (GMM) to model the underlying distribution of the data, and then identify the observations that are far from the model.

In [170]:
import numpy as np
from sklearn.mixture import GaussianMixture


# Fit a Gaussian mixture model to the data
gmm = GaussianMixture(n_components=3)
gmm.fit(df3)

# Compute the log-likelihood scores for each observation
log_probs = gmm.score_samples(df3)

# Identify the observations with low log-likelihood scores as anomalies
anomalies = df3[log_probs < -35]  #was originally -3

# Print the number of anomalies and the indices of the anomalous observations
print(f'Number of anomalies: {anomalies.shape[0]}')
print(f'Anomalous indices: {np.where(log_probs < -3)[0]}')

Number of anomalies: 716
Anomalous indices: [   0    1    2 ... 7407 7408 7409]

In [171]:
df3.columns

Index(['calories', 'lightly_active_minutes', 'moderately_active_minutes',
       'very_active_minutes', 'sedentary_minutes', 'mindfulness_session',
       'age', 'gender', 'bmi', 'year', 'month', 'day'],
      dtype='object')

Anomaly Detection method 4: Isolation Forest

In [179]:
from sklearn.ensemble import IsolationForest


# Select columns for anomaly detection
X = df3[['calories', 'sedentary_minutes', 'very_active_minutes']]

# Create the isolation forest model
isolation_forest = IsolationForest(n_estimators=100, contamination='auto', random_state=42)

# Fit the model to the data
isolation_forest.fit(X)

# Predict the anomalies
isolation_predictions = isolation_forest.predict(X)

# Add the predictions to the original dataset
df['isolation_predictions'] = isolation_predictions

# Count the number of anomalies detected
num_anomalies = len(df[df['isolation_predictions'] == -1])

# Print the number of anomalies detected
print('Number of anomalies detected:', num_anomalies)

Number of anomalies detected: 1403

Anomaly Detection on a Target variable : fitting a Gaussian distribution to the data and identifying points that fall outside a certain probability threshold.

In [178]:
import numpy as np
from scipy.stats import norm



# Select column for anomaly detection
X = df3['calories']

# Fit a Gaussian distribution to the data
mu, std = norm.fit(X)

# Set the probability threshold
prob_threshold = 0.00001

# Calculate the probability of each data point
probs = norm.pdf(X, mu, std)

# Identify the anomalies using the probability threshold
anomalies = X[probs < prob_threshold]

# Print the anomalies
print('Anomalies:', anomalies)

Anomalies: 158        0.85
372        1.27
745        0.69
751     5223.01
887        0.90
         ...
6793       1.44
6913    4241.83
6949    4399.79
6953    4271.62
7313       1.31
Name: calories, Length: 92, dtype: float64